* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

label {
  display: block;
  margin: 16px 0 8px;
  font-size: 16px;
  font-weight: 400;
  columns: #2c2c2c;
}

input {
  display: block;
  padding: 16px 24px;
  width: 100%;
  border: 1px solid #d1d1d1;
}

input::placeholder {
  color: #ababab;
}

button {
  border: none;
  display: block;
  padding: 16px;
  width: 100%;
  margin: 24px 0px;
  font-size: 18px;
  font-weight: 700;
  background-color: #2c2c2c;
  color: #ffffff;
}

.login {
  width: 360px;
  margin: 120px auto;
}

.login-title {
  text-align: center;
  margin: 24px 0;
  font-size: 36px;
  font-weight: 700;
  color: #4e4e4e;
}

.password-forgot {
  text-align: right;
  margin: 8px 0 24px;
  font-size: 14px;
  font-weight: 400;
}

.password-forgot-link {
  color: #ababab;
}

.signup {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #ababab;
}

.signup-link {
  color: #2c2c2c;
}
